@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-input {
  background: transparent;
  border: none;
  outline: none;
}

.box-shadow {
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.1);
}
.css_button {
  color: #fff;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181d1d;
  border-radius: 6px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
}
.css_button:hover {
  background: #c7dddd;
  color: #131717;
}

.seller_cover {
  background-image: url("/src/assets/imgs/anhbia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
